os:
  - osx
  - linux
language: generic
sudo: required
dist: trusty
osx_image: xcode11
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
env:
  - SWIFT_VERSION=DEVELOPMENT-SNAPSHOT-2019-08-01-a CODECOV_TOKEN=52103015-769c-4c59-b537-4fa9fe91c41c
script:
  - swift package update
  - swift package generate-xcodeproj
  - if hash xcodebuild; then
        xcodebuild -quiet -project MusicXML.xcodeproj -scheme MusicXML-Package -enableCodeCoverage YES build test
    else
        swift test
    fi
  - bash <(curl -s https://codecov.io/bash)
